.swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

.u-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.c-carousel {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.c-carousel__wrapper.swiper {
  position: static;
}

.c-carousel__inner-wrapper.swiper-wrapper {
  display: flex;
  align-items: center;
}

.c-carousel img {
  margin: 0 auto;
}

.grad-text {
  background: linear-gradient(
    90deg,
    #ffffff,
    #bafd02,
    #31ff31,
    rgba(255, 255, 255, 0.3)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  color: transparent;
}
